{% extends 'layout.html.twig' %}

{% block body %}<div class="jumbotron text-center">
    <h1 class="display-4">Bonjour invocateur !</h1>
    <p class="lead">Bienvenu sur LoLHelper, ici tu vas pouvoir comparer les champions entre eux, pour faire le meilleur choix sur ta lane</p>
    <p>Tu auras également accès à toutes les informations concernant tous les champions existants sur LoL actuellement</p>
    <p class="down">
        <img src="/assets/images/arr.png">
    </p>
</div>{% endblock %}